<div class="container">
    <div class="pull-left">
        <ul class="list-unstyled text-left">
            <li><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;<script>document.write((new Date()).getFullYear())</script>&nbsp;<a href="https://github.com/aspyatkin/themis-quals" target="_blank">Themis Quals</a></li>
            <li>Proudly made by <a href="https://aspyatkin.com" target="_blank">Alexander Pyatkin</a> and contributors</li>
        </ul>
    </div>
    <div class="pull-right">
        <!-- Extra links -->
        <ul class="list-unstyled text-right">
        </ul>
    </div>
</div>
