<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- contestTitle %> :: Internal Server Error</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/{{#cachebusting}}{{#volgactf_qualifier}}{{ css }}{{/volgactf_qualifier}}{{/cachebusting}}">
        {{#partials}}
        {{#head}}
        <!--=include {{{path}}} -->
        {{/head}}
        {{/partials}}

        <%= templates.analytics({ _: _, google_tag_id: google_tag_id }) %>
    </head>
    <body>
        <%= templates.navbar({ _: _, active: null, identity: identity, templates: templates, contestTitle: contestTitle, contest: contest, moment: moment }) %>

        <div id="main" class="pb-4">
            <div class="container">
                <header>
                    <h1>Internal error</h1>
                </header>
                <section>
                    <p class="lead">An internal error occured. That is all we know.</p>
                </section>
            </div>
        </div>

        <footer class="footer">
            {{#partials}}
            {{#footer}}
            <!--=include {{{path}}} -->
            {{/footer}}
            {{^footer}}
            <!--=include ../partials/footer.html -->
            {{/footer}}
            {{/partials}}
        </footer>

        <script>
            window.volgactf = {
                qualifier: {
                    view: 'default',
                    data: {
                        identity: <%= jsesc(identity, { json: true, isScriptContext: true }) %>,
                        contest: <%= jsesc(contest, { json: true, isScriptContext: true }) %>
                    },
                    templates: {
                        streamStatePartial: <%= templates.streamStatePartial.source %>,
                        contestStatePartial: <%= templates.contestStatePartial.source %>
                    }
                }
            }
        </script>
        <script src="/assets/js/{{#cachebusting}}{{#volgactf_qualifier}}{{ js }}{{/volgactf_qualifier}}{{/cachebusting}}"></script>
    </body>
</html>
