<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- contestTitle %> :: About</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/{{#cachebusting}}{{#themis_quals}}{{ css }}{{/themis_quals}}{{/cachebusting}}">
        {{#partials}}
        {{#head}}
        <!--=include {{{path}}} -->
        {{/head}}
        {{/partials}}

        <% if (google_tag_id) { %>
        <%= templates.analytics({ _: _, google_tag_id: google_tag_id }) %>
        <% } %>
    </head>
    <body>
        <%= templates.navbar({ _: _, active: null, identity: identity, templates: templates, contestTitle: contestTitle }) %>
        <div id="themis-statusbar">
            <%= templates.statusbar({ _: _, identity: identity, contest: contest, templates: templates, moment: moment }) %>
        </div>

        <div id="main" class="pb-4">
            <div class="container">
                <% if (identity.role === 'team' && !identity.emailConfirmed) { %>
                <!--=include ../partials/alert_email_verification.html -->
                <% } %>
                <header>
                    <h1>About</h1>
                </header>
                <section>
                    {{#partials}}
                    {{#about}}
                    <!--=include {{{path}}} -->
                    {{/about}}
                    {{^about}}
                    <!--=include ../partials/about.html -->
                    {{/about}}
                    {{/partials}}
                </section>
            </div>
        </div>

        <footer class="footer">
            {{#partials}}
            {{#footer}}
            <!--=include {{{path}}} -->
            {{/footer}}
            {{^footer}}
            <!--=include ../partials/footer.html -->
            {{/footer}}
            {{/partials}}
        </footer>

        <script>
            window.themis = {
                quals: {
                    view: 'about',
                    data: {
                        identity: <%= jsesc(identity, { json: true, isScriptContext: true }) %>,
                        contest: <%= jsesc(contest, { json: true, isScriptContext: true }) %>,
                        teamScores: <%= jsesc(teamScores, { json: true, isScriptContext: true }) %>
                    },
                    templates: {
                        contestStatePartial: <%= templates.contestStatePartial.source %>,
                        contestTimer: <%= templates.contestTimer.source %>,
                        contestScore: <%= templates.contestScore.source %>,
                        streamStatePartial: <%= templates.streamStatePartial.source %>
                    }
                }
            }
        </script>
        <script src="/assets/js/{{#cachebusting}}{{#themis_quals}}{{ js }}{{/themis_quals}}{{/cachebusting}}"></script>
    </body>
</html>
