<nav class="navbar navbar-expand-md navbar-dark bg-dark themis-navbar">
    <a href="/" class="navbar-brand">
        {{#partials}}
        {{#brand}}
        <!--=include {{{path}}} -->
        {{/brand}}
        {{^brand}}
        <%- contestTitle %>
        {{/brand}}
        {{/partials}}
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#themis-navbar" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="themis-navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <% print((active === 'teams') ? 'active' : ''); %>">
                <a class="nav-link" href="/teams">Teams</a>
            </li>
            <li class="nav-item <% print((active === 'news') ? 'active' : ''); %>">
                <a class="nav-link" href="/news">News</a>
            </li>
        <!-- 
            <li class="nav-item <% print((active === 'scoreboard') ? 'active' : ''); %>">
                <a class="nav-link" href="/scoreboard">Scoreboard</a>
            </li>
         -->
            <% if (identity.role === 'admin' || identity.role === 'manager') { %>
            <li class="nav-item <% print((active === 'categories') ? 'active' : ''); %>">
                <a class="nav-link" href="/categories">Categories</a>
            </li>
            <% } %>
        <!-- 
            <li class="nav-item <% print((active === 'tasks') ? 'active' : ''); %>">
                <a class="nav-link" href="/tasks">Tasks</a>
            </li>

         -->    <li class="nav-item <% print((active === 'about') ? 'active' : ''); %>">
                <a class="nav-link" href="/about">About</a>
            </li>
            <% if (identity.role === 'admin' || identity.role === 'manager') { %>
            <li class="nav-item <% print((active === 'events') ? 'active' : ''); %>">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <% } %>
        </ul>

        <div id="themis-quals-stream-state">
            <%= templates.streamStatePartial({ state: 'connecting' }) %>
        </div>

        <ul class="navbar-nav ml-auto">
<!--             <li class="nav-item">
                <a href="#" class="nav-link text-success">
                    <span class="oi oi-timer"></span>&nbsp;Started
                </a>
            </li>
 -->
            <% if (identity.role === 'guest') { %>
            <li class="nav-item <% print((active === 'signin') ? 'active' : ''); %>">
                <a class="nav-link" href="/team/signin"><span class="oi oi-account-login"></span>&nbsp;Sign in</a>
            </li>
            <% } else { %>
            <li class="nav-item dropdown">
                <% if (identity.role === 'team') { %>
                <img class="profile-image d-inline-block" width="30px" height="30px" src="/api/team/<%- identity.id %>/logo">
                <% } %>
                <a href="#" class="nav-link dropdown-toggle d-inline-block" data-toggle="dropdown" role="button" aria-expanded="false">
                    <% if (identity.role === 'admin') { %>
                    <span class="badge badge-success">A</span>
                    <% } else if (identity.role === 'manager') { %>
                    <span class="badge badge-primary">M</span>
                    <% } %>
                    <%- identity.name %>&nbsp;<span class="caret"></span>
                </a>
                <div class="dropdown-menu themis-quals-dropdown-menu" role="menu">
                    <% if (identity.role === 'team') { %>
                    <a class="dropdown-item" href="/team/<%- identity.id %>/profile"><span class="oi oi-cog"></span>&nbsp;Edit profile</a>
                    <% } %>
                    <a class="dropdown-item" href="#" data-action="signout"><span class="oi oi-account-logout"></span>&nbsp;Sign out</a>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
