<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <% if (active === 'home') { %>
    <span class="navbar-brand">
    <% } else { %>
    <a href="/" class="navbar-brand">
    <% } %>
        {{#partials}}
        {{#brand}}
        <!--=include {{{path}}} -->
        {{/brand}}
        {{^brand}}
        <%- contestTitle %>
        {{/brand}}
        {{/partials}}
    <% if (active === 'home') { %>
    </span>
    <% } else { %>
    </a>
    <% } %>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#volgactf-navbar" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="volgactf-navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <% print((active === 'teams') ? 'active' : ''); %>">
                <% if (active === 'teams') { %>
                <span class="nav-link">Teams</span>
                <% } else { %>
                <a class="nav-link" href="/teams">Teams</a>
                <% } %>
            </li>
            <li class="nav-item <% print((active === 'news') ? 'active' : ''); %>">
                <% if (active === 'news') { %>
                <span class="nav-link">News</span>
                <% } else { %>
                <a class="nav-link" href="/news">News</a>
                <% } %>
            </li>
            <li class="nav-item <% print((active === 'scoreboard') ? 'active' : ''); %>">
                <% if (active === 'scoreboard') { %>
                <span class="nav-link">Scoreboard</span>
                <% } else { %>
                <a class="nav-link" href="/scoreboard">Scoreboard</a>
                <% } %>
            </li>
            <li class="nav-item <% print((active === 'tasks') ? 'active' : ''); %>">
                <% if (active === 'tasks') { %>
                <span class="nav-link">Tasks</span>
                <% } else { %>
                <a class="nav-link" href="/tasks">Tasks</a>
                <% } %>
            </li>
            <li class="nav-item <% print((active === 'about') ? 'active' : ''); %>">
                <% if (active === 'about') { %>
                <span class="nav-link">About</span>
                <% } else { %>
                <a class="nav-link" href="/about">About</a>
                <% } %>
            </li>

            <% if (identity.role === 'admin' || identity.role === 'manager') { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="supervisorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Management
                </a>
                <div class="dropdown-menu" aria-labelledby="supervisorDropdown">
                    <a class="dropdown-item" href="/contest">Contest</a>
                    <% if (identity.role === 'admin') { %>
                    <a class="dropdown-item" href="/supervisors">Supervisors</a>
                    <% } %>
                    <a class="dropdown-item" href="/categories">Categories</a>
                    <a class="dropdown-item" href="/remote_checkers">Remote checkers</a>
                    <a class="dropdown-item" href="/event/history">Event history</a>
                    <a class="dropdown-item" href="/event/live">Events <span class="text-danger">live</span></a>
                </div>
            </li>
            <% } %>
        </ul>

        <div id="volgactf-qualifier-stream-state">
            <%= templates.streamStatePartial({ state: 'connecting' }) %>
        </div>

        <div id="volgactf-qualifier-contest-state">
            <%= templates.contestStatePartial({ _: _, moment: moment, contest: contest }) %>
        </div>

        <div id="volgactf-qualifier-team-ranking">
        </div>

        <ul class="navbar-nav ml-auto">
            <% if (identity.role === 'guest') { %>
            <li class="nav-item <% print((active === 'signin') ? 'active' : ''); %>">
                <a class="nav-link" href="/team/signin"><span class="oi oi-account-login"></span>&nbsp;Sign in</a>
            </li>
            <% } else { %>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle d-inline-block" data-toggle="dropdown" role="button" aria-expanded="false">
                    <% if (identity.role === 'admin') { %>
                    <span class="badge badge-success">A</span>
                    <% } else if (identity.role === 'manager') { %>
                    <span class="badge badge-primary">M</span>
                    <% } else if (identity.role === 'team') {%>
                    <img id="team-<%- identity.id %>-navbar-logo" class="d-inline-block align-middle mr-1" width="32px" height="32px" src="/team/logo/<%- identity.id %>/<%- identity.logoChecksum %>">
                    <% } %>
                    <span class="d-inline-block align-middle volgactf-qualifier-navbar-identity-name"><%- identity.name %></span>
                    &nbsp;<span class="caret"></span>
                </a>
                <div class="dropdown-menu volgactf-qualifier-dropdown-menu" role="menu">
                    <% if (identity.role === 'team') { %>
                    <a class="dropdown-item" href="/team/<%- identity.id %>/profile"><span class="oi oi-cog"></span>&nbsp;Edit profile</a>
                    <% } %>
                    <a class="dropdown-item" href="#" data-action="signout"><span class="oi oi-account-logout"></span>&nbsp;Sign out</a>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
