<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- contestTitle %> :: News</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/{{#cachebusting}}{{#volgactf_qualifier}}{{ css }}{{/volgactf_qualifier}}{{/cachebusting}}">
        {{#partials}}
        {{#head}}
        <!--=include {{{path}}} -->
        {{/head}}
        {{/partials}}

        <% if (google_tag_id) { %>
        <%= templates.analytics({ _: _, google_tag_id: google_tag_id }) %>
        <% } %>
    </head>
    <body>
        <%= templates.navbar({ _: _, active: null, identity: identity, templates: templates, contestTitle: contestTitle, contest: contest, moment: moment }) %>

        <div id="main" class="pb-4">
            <div class="container">
                <% if (identity.role === 'team' && !identity.emailConfirmed) { %>
                <!--=include ../partials/alert_email_verification.html -->
                <% } %>
                <header>
                    <h1>News</h1>
                    <% if (identity.role === 'manager' || identity.role === 'admin') { %>
                    <div class="mb-4">
                        <button type="button" class="btn btn-primary" data-action="create-post" data-toggle="modal" data-target="#create-post-modal">
                            Create
                        </button>
                    </div>
                    <% } %>
                </header>
                <section id="#news">
                    <%= templates.postList({ _: _, identity: identity, posts: posts, templates: templates, moment: moment, md: md }) %>
                </section>
            </div>

            <% if (identity.role === 'manager' || identity.role === 'admin') { %>
            <div class="modal fade" id="create-post-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <ul class="nav nav-tabs" id="create-post-tablist">
                                    <li class="nav-item"><a class="nav-link" href="#create-post-data" role="tab" data-toggle="tab">Data</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#create-post-preview" role="tab" data-toggle="tab">Preview</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane" id="create-post-data">
                                        <form method="POST" action="/api/post/create">
                                            <div class="form-group">
                                                <label for="create-post-title" class="control-label">Title</label>
                                                <input type="text" class="form-control" id="create-post-title" required minlength="2" maxlength="250" name="title">
                                                <label for="create-post-description" class="control-label">Description</label>
                                                <textarea class="form-control volgactf-post-description" id="create-post-description" required minlength="1" maxlength="4096" name="description"></textarea>
                                            </div>
                                            <div class="submit-error">
                                                <p class="text-danger"></p>
                                            </div>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="create-post-preview">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-action="complete-create-post">Create</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="delete-post-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="confirmation"></p>
                            <div class="submit-error">
                                <p class="text-danger"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" data-action="complete-delete-post">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <ul class="nav nav-tabs" id="edit-post-tablist">
                                    <li class="nav-item"><a class="nav-link" href="#edit-post-data" role="tab" data-toggle="tab">Data</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#edit-post-preview" role="tab" data-toggle="tab">Preview</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane" id="edit-post-data">
                                        <form method="POST">
                                            <div class="form-group">
                                                <label for="edit-post-title" class="control-label">Title</label>
                                                <input type="text" class="form-control" id="edit-post-title" required minlength="2" maxlength="250" name="title">
                                                <label for="edit-post-description" class="control-label">Description</label>
                                                <textarea class="form-control volgactf-post-description" id="edit-post-description" required minlength="1" maxlength="4096" name="description"></textarea>
                                            </div>
                                            <div class="submit-error">
                                                <p class="text-danger"></p>
                                            </div>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="edit-post-preview">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-action="complete-edit-post">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

        <footer class="footer">
            {{#partials}}
            {{#footer}}
            <!--=include {{{path}}} -->
            {{/footer}}
            {{^footer}}
            <!--=include ../partials/footer.html -->
            {{/footer}}
            {{/partials}}
        </footer>

        <script>
            window.volgactf = {
                qualifier: {
                    view: 'news',
                    data: {
                        identity: <%= jsesc(identity, { json: true, isScriptContext: true }) %>,
                        contest: <%= jsesc(contest, { json: true, isScriptContext: true }) %>,
                        posts: <%= jsesc(posts, { json: true, isScriptContext: true }) %>
                    },
                    templates: {
                        contestStatePartial: <%= templates.contestStatePartial.source %>,
                        postList: <%= templates.postList.source %>,
                        postPartial: <%= templates.postPartial.source %>,
                        postSimplifiedPartial: <%= templates.postSimplifiedPartial.source %>,
                        streamStatePartial: <%= templates.streamStatePartial.source %>
                    }
                }
            }
        </script>
        <script src="/assets/js/{{#cachebusting}}{{#volgactf_qualifier}}{{ js }}{{/volgactf_qualifier}}{{/cachebusting}}"></script>
    </body>
</html>
