<div class="themis-post" data-id="<%- post.id %>">
    <header>
        <h3><%- post.title %></h3>
    </header>
    <section>
        <%= md.render(post.description) %>
    </section>
    <footer>
        <p class="text-muted">
            <% var updatedAt = (post.updatedAt instanceof Date) ? post.updatedAt : new Date(post.updatedAt) %>
            <small>Updated on <%- moment(updatedAt).format('lll') %></small>
            &nbsp;
            <% if (identity.role === 'manager' || identity.role === 'admin') { %>
            <a href="/news?action=scrollTo&postId=<%- post.id %>" target="_blank">Permalink</a>
            &nbsp;
            <button type="button" class="btn btn-default btn-sm" data-action="edit-post" data-toggle="modal" data-target="#edit-post-modal" data-post-id="<%- post.id %>">
                Edit
            </button>
            <button type="button" class="btn btn-danger btn-sm" data-action="delete-post" data-toggle="modal" data-target="#delete-post-modal" data-post-id="<%- post.id %>">
                Delete
            </button>
            <% } %>
        </p>
    </footer>
</div>
