<% var highlight = identity.role === 'team' && identity.id === team.id %>
<% var displaySmCls = printLayout ? 'volgactf-qualifier-whitespace-nowrap' : 'd-none d-sm-table-cell' %>
<% var displayMdCls = printLayout ? 'volgactf-qualifier-whitespace-nowrap' : 'd-none d-md-table-cell' %>
<% var displayLgCls = printLayout ? 'volgactf-qualifier-whitespace-nowrap' : 'd-none d-lg-table-cell' %>
<tr class="volgactf-scoreboard-row<% print(highlight ? ' table-primary': ''); %>">
    <th scope="row"><%- rank %></th>
    <td>
        <img id="team-<%- team.id %>-logo" class="volgactf-scoreboard-logo" src="/team/logo/<%- team.id %>.png">
        &nbsp;
        <a href="/team/<%- team.id %>/profile" class="volgactf-team-link"><%- team.name %></a>
    </td>
    <td class="<%- displayMdCls %>"><%- country.name %></td>
    <% if (detailed) { %>
    <td class="<%- displayLgCls %>"><%- team.locality %></td>
    <td class="<%- displayLgCls %>"><%- team.institution %></td>
    <% } %>
    <td><%- teamRanking.score %></td>
    <td class="<%- displaySmCls %>">
    <% if (teamRanking.lastUpdated) { %>
        <% var lastUpdated = (teamRanking.lastUpdated instanceof Date) ? teamRanking.lastUpdated : new Date(teamRanking.lastUpdated) %>
        <%- moment(lastUpdated).utc().format('MMM D [at] HH:mm:ss [UTC]') %>
    <% } else { %>
        n/a
    <% } %>
    </td>
</tr>
