<table class="table table-sm">
    <caption class="text-secondary" style="caption-side: top">
        <% var updated = (lastUpdated instanceof Date) ? lastUpdated : new Date(lastUpdated) %>
        <small>Last updated on <%- moment(updated).utc().format('MMM D [at] HH:mm:ss [UTC]') %></small>
    </caption>
    <thead>
        <tr>
            <% var displaySmCls = printLayout ? 'themis-quals-whitespace-nowrap' : 'd-none d-sm-table-cell' %>
            <% var displayMdCls = printLayout ? 'themis-quals-whitespace-nowrap' : 'd-none d-md-table-cell' %>
            <% var displayLgCls = printLayout ? 'themis-quals-whitespace-nowrap' : 'd-none d-lg-table-cell' %>
            <th scope="col">#</th>
            <th scope="col">Team</th>
            <th scope="col" class="<%- displayMdCls %>">Country</th>
            <% if (detailed) { %>
            <th scope="col" class="<%- displayLgCls %>">Locality</th>
            <th scope="col" class="<%- displayLgCls %>">Institution</th>
            <% } %>
            <th scope="col">Score</th>
            <th scope="col" class="<%- displaySmCls %>">Last updated</th>
        </tr>
    </thead>
    <tbody id="themis-scoreboard-table-body">
        <% var entries = _.map(teamRankings, function (teamRanking) {
            var team = _.findWhere(teams, { id: teamRanking.teamId })
            return {
                team: team,
                teamRanking: teamRanking,
                country: _.findWhere(countries, { id: team.countryId })
            }
        }) %>

        <% function rank (a, b) {
            if (a.teamRanking.position < b.teamRanking.position) {
                return -1
            } else if (a.teamRanking.position > b.teamRanking.position) {
                return 1
            } else {
                return 0
            }
        } %>

        <% entries.sort(rank) %>

        <% for (var i=0; i<entries.length; ++i) { %>
            <% var entry = entries[i] %>
            <%= templates.scoreboardTableRowPartial({ _: _, identity: identity, detailed: detailed, printLayout: printLayout, rank: i + 1, teamRanking: entry.teamRanking, team: entry.team, country: entry.country, moment: moment }) %>
        <% } %>
    </tbody>
    <% if (teamRankings.length > 19) { %>
    <caption class="text-secondary" style="caption-side: bottom">
        <% var updated = (lastUpdated instanceof Date) ? lastUpdated : new Date(lastUpdated) %>
        <small>Last updated on <%- moment(updated).utc().format('MMM D [at] HH:mm:ss [UTC]') %></small>
    </caption>
    <% } %>
</table>
