<% var highlight = identity.role === 'team' && identity.id === team.id %>
<tr class="themis-scoreboard-row<% print(highlight ? ' table-primary': ''); %>">
    <th scope="row"><%- rank %></th>
    <td>
        <img id="team-<%- team.id %>-logo" class="themis-scoreboard-logo" src="/api/team/<%- team.id %>/logo">
        &nbsp;
        <a href="/team/<%- team.id %>/profile" class="themis-team-link"><%- team.name %></a>
    </td>
    <td class="d-none d-md-table-cell"><%- country.name %></td>
    <% if (detailed) { %>
    <td class="d-none d-lg-table-cell"><%- team.locality %></td>
    <td class="d-none d-lg-table-cell"><%- team.institution %></td>
    <% } %>
    <td><%- teamRanking.score %></td>
    <td class="d-none d-sm-table-cell">
    <% if (teamRanking.lastUpdated) { %>
        <% var lastUpdated = (teamRanking.lastUpdated instanceof Date) ? teamRanking.lastUpdated : new Date(teamRanking.lastUpdated) %>
        <%- moment(lastUpdated).utc().format('MMM D [at] HH:mm:ss [UTC]') %>
    <% } else { %>
        n/a
    <% } %>
    </td>
</tr>
