<% var highlight = identity.role === 'team' && identity.id === team.id %>
<tr class="themis-scoreboard-row<% print(highlight ? ' table-primary': ''); %>">
    <th scope="row"><%- rank %></th>
    <td>
        <img id="team-<%- team.id %>-logo" class="themis-scoreboard-logo" src="/api/team/<%- team.id %>/logo">
        &nbsp;
        <a href="/team/<%- team.id %>/profile" class="themis-team-link"><%- team.name %></a>
    </td>
    <td><%- country.name %></td>
    <% if (detailed) { %>
    <td><%- team.locality %></td>
    <td><%- team.institution %></td>
    <% } %>
    <td><%- teamScore.score %></td>
    <% if (teamScore.updatedAt) { %>
        <% var updatedAt = (teamScore.updatedAt instanceof Date) ? teamScore.updatedAt : new Date(teamScore.updatedAt) %>
        <td><%- moment(updatedAt).utc().format('MMM D [at] HH:mm [UTC]') %></td>
    <% } else { %>
        <td>never</td>
    <% } %>
</tr>
