<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team</th>
            <th scope="col">Country</th>
            <% if (detailed) { %>
            <th scope="col">Locality</th>
            <th scope="col">Institution</th>
            <% } %>
            <th scope="col">Score</th>
            <th scope="col">Last updated</th>
        </tr>
    </thead>
    <tbody id="themis-scoreboard-table-body">
        <% var entries = _.map(teamScores, function (teamScore) {
            var team = _.findWhere(teams, { id: teamScore.teamId })
            var scoreUpdatedAt = null
            if (teamScore.updatedAt) {
                scoreUpdatedAt = (teamScore.updatedAt instanceof Date) ? teamScore.updatedAt : new Date(teamScore.updatedAt)
            }
            var teamCreatedAt = (team.createdAt instanceof Date) ? team.createdAt : new Date(team.createdAt)
            return {
                team: team,
                teamScore: teamScore,
                country: _.findWhere(countries, { id: team.countryId }),
                scoreUpdated: scoreUpdatedAt ? scoreUpdatedAt.getTime() : null,
                teamCreated: teamCreatedAt.getTime()
            }
        }) %>

        <% function rank (a, b) {
            if (a.teamScore.score > b.teamScore.score) {
                return -1
            } else if (a.teamScore.score < b.teamScore.score) {
                return 1
            } else {
                if (a.scoreUpdated && b.scoreUpdated) {
                    if (a.scoreUpdated < b.scoreUpdated) {
                        return -1
                    } else if (a.scoreUpdated > b.scoreUpdated) {
                        return 1
                    } else {
                        if (a.teamCreated < b.teamCreated) {
                            return -1
                        } else if (a.teamCreated > b.teamCreated) {
                            return 1
                        } else {
                            return 0
                        }
                    }
                } else if (a.scoreUpdated && !b.scoreUpdated) {
                    return -1
                } else if (!a.scoreUpdated && b.scoreUpdated) {
                    return 1
                } else {
                    if (a.teamCreated < b.teamCreated) {
                        return -1
                    } else if (a.teamCreated > b.teamCreated) {
                        return 1
                    } else {
                        return 0
                    }
                }
            }
        } %>

        <% entries.sort(rank) %>

        <% for (var i=0; i<entries.length; ++i) { %>
            <% var entry = entries[i] %>
            <%= templates.scoreboardTableRowPartial({ _: _, identity: identity, detailed: detailed, rank: i + 1, teamScore: entry.teamScore, team: entry.team, country: entry.country, moment: moment }) %>
        <% } %>
    </tbody>
</table>
