<% var headerBgClass = 'bg-secondary' %>
<% if (task.state === 2) { %>
    <% headerBgClass = solved ? 'bg-success' : 'bg-primary' %>
<% } else if (task.state === 3) { %>
    <% headerBgClass = solved ? 'bg-success' : 'bg-danger' %>
<% } %>

<% var submitAnswerModal = 'check-task-modal' %>
<% if (identity.role === 'admin' || identity.role === 'manager') { %>
<% submitAnswerModal = 'revise-task-modal' %>
<% } else if (identity.role === 'team') { %>
<% submitAnswerModal = 'submit-task-modal' %>
<% } %>

<div class="card h-100 text-center volgactf-task-preview-container" data-task-id="<%- task.id %>">
    <h5 class="card-header pointer <%- headerBgClass %> text-white" data-task-id="<%- task.id %>" data-toggle="modal" data-target="#<%- submitAnswerModal %>">
        <%- task.title %>
    </h5>
    <% if (identity.role === 'admin' || identity.role === 'manager') { %>
    <div class="card-body" style="padding: 0.25rem;">
        <% if (identity.role === 'admin') { %>
            <% if (task.state !== 3 && contest.state !== 4) { %>
                <a class="btn btn-primary btn-sm" href="#" data-action="edit-task" data-toggle="modal" data-target="#edit-task-modal" data-task-id="<%- task.id %>" title="Edit task">
                    <span class="oi oi-pencil"></span>
                </a>
                <a class="btn btn-primary btn-sm" href="#" data-action="manage-task-files" data-toggle="modal" data-target="#manage-task-files-modal" data-task-id="<%- task.id %>" title="Manage task files">
                    <span class="oi oi-data-transfer-upload"></span>
                </a>
            <% } %>
            <% if (contest.state === 2) { %>
                <% if (task.state === 1) { %>
                <a class="btn btn-success btn-sm" href="#" data-action="open-task" data-toggle="modal" data-target="#open-task-modal" data-task-id="<%- task.id %>" title="Open task">
                    <span class="oi oi-eye"></span>
                </a>
                <% } else if (task.state === 2) { %>
                <a class="btn btn-danger btn-sm" href="#" data-action="close-task" data-toggle="modal" data-target="#close-task-modal" data-task-id="<%- task.id %>" title="Close task">
                    <span class="oi oi-lock-locked"></span>
                </a>
                <% } %>
            <% } %>
        <% } %>
        <a class="btn btn-secondary btn-sm" href="/task/<%- task.id %>/statistics" title="Task statistics">
            <span class="oi oi-graph"></span>
        </a>
        <% if (subscribed) { %>
        <a class="btn btn-success btn-sm" href="#" data-action="unsubscribe-task" data-toggle="modal" data-target="#unsubscribe-task-modal" data-task-id="<%- task.id %>" title="Unsubscribe from new reviews">
            <span class="oi oi-comment-square"></span>
        </a>
        <% } else { %>
        <a class="btn btn-secondary btn-sm" href="#" data-action="subscribe-task" data-toggle="modal" data-target="#subscribe-task-modal" data-task-id="<%- task.id %>" title="Subscribe to new reviews">
            <span class="oi oi-comment-square"></span>
        </a>
        <% } %>
        <a class="btn btn-secondary btn-sm" href="/tasks?action=show&taskId=<%- task.id %>" target="_blank" title="Task permalink">
            <span class="oi oi-pin"></span>
        </a>
    </div>
    <% } %>
    <div class="card-body pointer" data-task-id="<%- task.id %>" data-toggle="modal" data-target="#<%- submitAnswerModal %>">

        <div class="volgactf-task-value">
        <% if (taskValue && taskRewardScheme) { %>
            <% if (_.isNull(taskRewardScheme.minValue)) { %>
                <%- taskValue.value %>
            <% } else { %>
                <% if (_.isNull(taskRewardScheme.subtractPoints) || _.isNull(taskRewardScheme.subtractHitCount)) { %>
                    <% var rewardInformation = 'The starting value is ' + taskRewardScheme.maxValue.toString() + ' points. The more teams solve the task the more its value decreases until it reaches the lower boundary of ' + taskRewardScheme.minValue.toString() + ' points. Having solved the task, every team gets an equal number of points.' %>
                <% } else { %>
                    <% var rewardInformation = 'The starting value is ' + taskRewardScheme.maxValue.toString() + ' points. It decreases by ' + taskRewardScheme.subtractPoints.toString() + ' point' + ((taskRewardScheme.subtractPoints > 1) ? 's' : '') + ' each time ' + taskRewardScheme.subtractHitCount.toString() + ' more team' + ((taskRewardScheme.subtractHitCount > 1) ? 's' : '') + ' solve' + ((taskRewardScheme.subtractHitCount === 1) ? 's' : '') + ' the task until the value reaches the lower boundary of ' + taskRewardScheme.minValue.toString() + ' points. Having solved the task, every team gets an equal number of points.' %>
                <% } %>
                ~<%- taskValue.value %><sup class="text-danger" title="<%- rewardInformation %>" data-action="show-task-reward-information">*</sup>
            <% } %>
        <% } else { %>
            n/a
        <% } %>
        </div>
    </div>
    <% if ((identity.role === 'admin' || identity.role === 'manager') && task.state === 1 && !_.isNull(task.openAt)) { %>
    <div class="card-body" style="padding: 0.25rem">
        <% var openAt = (task.openAt instanceof Date) ? task.openAt : new Date(task.openAt) %>
        <small class="text-primary">
            <span class="oi oi-clock"></span>&nbsp;due to open on <%- moment(openAt).utc().format('MMM D [at] HH:mm [UTC]') %>
        </small>
    </div>
    <% } %>
    <div class="card-footer pointer" data-task-id="<%- task.id %>" data-toggle="modal" data-target="#<%- submitAnswerModal %>">
        <% var sortedTaskCategories = _.sortBy(taskCategories, 'createdAt') %>
        <% for (var i=0; i<sortedTaskCategories.length; ++i) { %>
            <% var category = _.findWhere(categories, { id: sortedTaskCategories[i].categoryId }) %>
            <span class="badge badge-secondary" title="<%- category.description %>">
                <span class="oi oi-tag"></span>
                &nbsp;<%- category.title %>
            </span>
        <% } %>
    </div>
</div>
