<div class="card h-100 text-center">
  <div class="card-body">
    <h5 class="card-title">
        <%- team.name %>
        <% if (team.disqualified) { %>
        &nbsp;<span class="badge badge-danger">dql</span>
        <% } %>
        &nbsp;<a href="/team/<%- team.id %>/profile" class="themis-quals-team-profile-link" title="More information"><small><span class="oi oi-external-link"></span></small></a>
    </h5>
    <p class="card-text">
        <img id="team-<%- team.id %>-logo" class="img-thumbnail" src="/api/team/<%- team.id %>/logo">
    </p>
    <p class="card-text text-secondary">
        <% var createdAt = (team.createdAt instanceof Date) ? team.createdAt : new Date(team.createdAt) %>
        Signed up on <%- moment(createdAt).utc().format('MMM D [at] HH:mm [UTC]') %>
    </p>
    <p class="card-text">
        <% if (typeof team.email !== 'undefined' && team.email !== null) { %>
            <span class="oi oi-envelope-closed"></span>
            <% if (team.emailConfirmed) { %>
            <span class="text-success" title="Email verified"><%- team.email %></span>
            <% } else { %>
            <span class="text-danger" title="Email not verified"><%- team.email %></span>
            <% } %>
            <br>
        <% } %>
    </p>
    <% if (country) { %>
    <p class="card-text"><strong>Country:</strong>&nbsp;<%- country.name %></p>
    <% } %>
    <% if (team.locality !== '') { %>
    <p class="card-text"><strong>Locality:</strong>&nbsp;<%- team.locality %></p>
    <% } %>
    <% if (team.institution !== '') { %>
    <p class="card-text"><strong>Institution:</strong>&nbsp;<%- team.institution %></p>
    <% } %>
  </div>
</div>
