<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- contestTitle %> :: Teams</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/{{#cachebusting}}{{#themis_quals}}{{ css }}{{/themis_quals}}{{/cachebusting}}">
        {{#partials}}
        {{#head}}
        <!--=include {{{path}}} -->
        {{/head}}
        {{/partials}}

        <% if (google_tag_id) { %>
        <%= templates.analytics({ _: _, google_tag_id: google_tag_id }) %>
        <% } %>
    </head>
    <body>
        <%= templates.navbar({ _: _, active: null, identity: identity, templates: templates, contestTitle: contestTitle, contest: contest, moment: moment }) %>

        <div id="main" class="pb-4">
            <div class="container">
                <% if (identity.role === 'team' && !identity.emailConfirmed) { %>
                <!--=include ../partials/alert_email_verification.html -->
                <% } %>
                <header>
                    <h1>Teams&nbsp;<span class="themis-team-count">(<%- teams.length %>)</span></h1>
                </header>
                <section>
                    <%= templates.teamList({ _: _, teams: teams, countries: countries, templates: templates, moment: moment }) %>
                </section>
            </div>
        </div>

        <footer class="footer">
            {{#partials}}
            {{#footer}}
            <!--=include {{{path}}} -->
            {{/footer}}
            {{^footer}}
            <!--=include ../partials/footer.html -->
            {{/footer}}
            {{/partials}}
        </footer>

        <script>
            window.themis = {
                quals: {
                    view: 'teams',
                    data: {
                        identity: <%= jsesc(identity, { json: true, isScriptContext: true }) %>,
                        contest: <%= jsesc(contest, { json: true, isScriptContext: true }) %>,
                        countries: <%= jsesc(countries, { json: true, isScriptContext: true }) %>,
                        teams: <%= jsesc(teams, { json: true, isScriptContext: true }) %>
                    },
                    templates: {
                        contestStatePartial: <%= templates.contestStatePartial.source %>,
                        teamList: <%= templates.teamList.source %>,
                        teamCard: <%= templates.teamCard.source %>,
                        streamStatePartial: <%= templates.streamStatePartial.source %>
                    }
                }
            }
        </script>
        <script src="/assets/js/{{#cachebusting}}{{#themis_quals}}{{ js }}{{/themis_quals}}{{/cachebusting}}"></script>
    </body>
</html>
