<% var sameTeam = identity.role === 'team' && identity.id === team.id %>
<header class="themis-profile mt-4">
    <% if (sameTeam) { %>
    <a href="#" title="Click to upload new logo" data-action="upload-logo" data-toggle="modal" data-target="#upload-logo-modal">
        <img class="img-thumbnail align-middle mr-2" src="/team/logo/<%- team.id %>.png">
    </a>
    <% } else { %>
        <img class="img-thumbnail align-middle mr-2" src="/team/logo/<%- team.id %>.png">
    <% } %>

    <h1 class="d-inline align-middle">
        <%- team.name %>
        <% if (team.disqualified) { %>
            <small>
                &nbsp;<span class="badge badge-danger" title="Disqualified">dql</span>
            </small>
        <% } %>
    </h1>
</header>

<section class="mt-4">
    <h3>General information</h3>
    <% var createdAt = (team.createdAt instanceof Date) ? team.createdAt : new Date(team.createdAt) %>
    <p class="text-secondary">Signed up on <%- moment(createdAt).utc().format('MMM D [at] HH:mm [UTC]') %></p>
    <% if (sameTeam || identity.role === 'manager' || identity.role === 'admin') { %>
    <ul class="list-unstyled">
        <% if ('email' in team && 'emailConfirmed' in team) { %>
        <li>
            <span class="oi oi-envelope-closed"></span>
            <% if (team.emailConfirmed) { %>
            <span class="text-success" title="Email verified"><%- team.email %></span>
            <% } else { %>
            <span class="text-danger" title="Email not verified"><%- team.email %></span>
            <% if (sameTeam) { %>
            <br>
            <button type="button" class="btn btn-primary btn-sm" data-action="resend-confirmation" data-toggle="modal" data-target="#resend-confirmation-modal">Resend confirmation email</button>
            <button type="button" class="btn btn-warning btn-sm" data-action="change-email" data-toggle="modal" data-target="#change-email-modal">Change email</button>
            <% } %>
            <% } %>
        </li>
        <% } %>
    </ul>
    <% } %>
    <ul class="list-unstyled">
        <% if (country !== '' || sameTeam) { %>
        <li><strong data-field="team-country">Country:</strong> <%- country.name %></li>
        <% } %>
        <% if (team.locality !== '' || sameTeam) { %>
        <li><strong data-field="team-locality">Locality:</strong> <%- team.locality %></li>
        <% } %>
        <% if (team.institution !== '' || sameTeam) { %>
        <li><strong data-field="team-institution">Institution:</strong> <%- team.institution %></li>
        <% } %>
        <% if (sameTeam) { %>
        <li>
            <button type="button" class="btn btn-primary btn-sm" data-action="edit-profile" data-toggle="modal" data-target="#edit-profile-modal">
                Edit
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-action="change-password" data-toggle="modal" data-target="#change-password-modal">
                Change password
            </button>
        </li>
        <% } %>
    </ul>
</section>

<% if (identity.role === 'guest' || !sameTeam) { %>
    <% if (teamTaskHitStatistics) { %>
    <section class="mt-4">
        <h3>Task hits</h3>
        <p class="text-muted">
            <% if (teamTaskHitStatistics.count > 0) { %>
            Team has solved <strong><%- teamTaskHitStatistics.count %></strong> <% print((teamTaskHitStatistics.count === 1) ? 'task' : 'tasks') %>
            <% } else { %>
            Team has not solved a single task
            <% } %>
        </p>
    </section>
    <% } %>
    <% if (teamTaskReviewStatistics) { %>
    <section class="mt-4">
        <h3>Task reviews</h3>
        <p class="text-muted">
            <% if (teamTaskReviewStatistics.count > 0) { %>
            Team has reviewed <strong><%- teamTaskReviewStatistics.count %></strong> <% print((teamTaskReviewStatistics.count === 1) ? 'task' : 'tasks') %> and has given <strong><%- teamTaskReviewStatistics.averageRating.toFixed(2) %></strong> rating points on average
            <% } else { %>
            Team has not reviewed a single task
            <% } %>
        </p>
    </section>
    <% } %>
<% } %>

<% if (sameTeam || identity.role === 'manager' || identity.role === 'admin') { %>
    <% if (teamTaskHits) { %>
    <section class="mt-4">
        <h3>Task hits</h3>
        <% if (teamTaskHits.length > 0) { %>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Value</th>
                    <th scope="col">Solved</th>
                </tr>
            </thead>
            <tbody>
                <% var sortedTeamTaskHits = _.sortBy(teamTaskHits, 'createdAt') %>
                <% var task = null %>
                <% var taskValue = null %>
                <% for (var i=0; i<sortedTeamTaskHits.length; ++i) { %>
                    <% task = _.findWhere(tasks, { id: sortedTeamTaskHits[i].taskId }) %>
                    <% taskValue = _.findWhere(taskValues, { taskId: sortedTeamTaskHits[i].taskId }) %>
                    <% if (task && taskValue) { %>
                    <tr>
                        <th scope="row"><% print(i + 1) %></th>
                        <td><%- task.title %></td>
                        <td><%- taskValue.value %></td>
                        <td><%- moment(sortedTeamTaskHits[i].createdAt).utc().format('MMM D [at] HH:mm [UTC]') %></td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
        <p>Team has not solved a single task</p>
        <% } %>
    </section>
    <% } %>
    <% if (teamTaskReviews) { %>
    <section class="mt-4">
        <h3>Task reviews</h3>
        <% if (teamTaskReviews.length > 0) { %>
        <% var averageRating = _.reduce(teamTaskReviews, function (memo, taskReview) {
            return memo + taskReview.rating;
        }, 0) / (teamTaskReviews.length === 0 ? 1 : teamTaskReviews.length); %>
        <p class="text-muted">Average rating is <strong><%- averageRating.toFixed(2) %></strong> (max 5.00)</p>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Value</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Created</th>
                </tr>
            </thead>
            <tbody>
                <% var sortedTeamTaskReviews = _.sortBy(teamTaskReviews, 'createdAt') %>
                <% var task = null %>
                <% var taskValue = null %>
                <% for (var i=0; i<sortedTeamTaskReviews.length; ++i) { %>
                    <% task = _.findWhere(tasks, { id: sortedTeamTaskReviews[i].taskId }) %>
                    <% taskValue = _.findWhere(taskValues, { id: sortedTeamTaskHits[i].taskId }) %>
                    <% if (task && taskValue) { %>
                    <tr>
                        <th scope="row"><% print(i + 1) %></th>
                        <td><%- task.title %></td>
                        <td><%- taskValue.value %></td>
                        <td><%- sortedTeamTaskReviews[i].rating.toFixed(2) %></td>
                        <td><%- sortedTeamTaskReviews[i].comment %></td>
                        <td><%- moment(sortedTeamTaskReviews[i].createdAt).utc().format('MMM D [at] HH:mm [UTC]') %></td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
        <p>Team has not reviewed a single task</p>
        <% } %>
    </section>
    <% } %>
<% } %>
