<h2>Регламент SamaraCTF 2026</h2>
<p class="lead">Приветствуем! Добро пожаловать на Открытое первенство <a href="https://ssau.ru/" target="_blank" rel="noopener">Самарского университета</a> SamaraCTF 2026!</p>

<p class="lead">К участию приглашаются студенческие команды любых ВУЗов.</p>

<p class="lead">По завершении игры три первые по рангу команды общего зачёта, а также три первые команды, представляющие <strong>Самарский университет</strong>, будут награждены символически-ценными призами.</p>

<p class="lead">Соревнование начнётся 15 мая в 15:00 UTC и продлится 48 часов. Периодически проверяйте страницу <a href="/news" target="_blank" rel="noopener">Новостей</a> &ndash; там может появиться важная информация о соревновании.</p>

<p class="lead">Для связи с организаторами используйте <a href="https://t.me/+Yui4_JLbPbxjOTIy" target="_blank" rel="noopener">публичный чат в Telegram</a>.</p>

<h3>Регистрация</h3>

<p class="lead">Для регистрации необходимо указать название (только символы латинского алфавита) и лого команды, название ВУЗа. <strong>Обязательно</strong> указывайте название вашего ВУЗа!</p>

<p class="lead"><strong>Внимание!</strong> После регистрации изменение названия команды невозможно, поэтому <a href="https://ctftime.org/stats/" target="_blank" rel="noopener">будьте внимательны</a> и не занимайте название другой команды.</p>

<p class="lead">Просьба использовать настоящий адрес электронной почты &ndash; на него придёт письмо с ссылкой для подтверждения регистрации. Также почта используется для связи с командами. После прохождения по ссылке из письма адрес почты изменить будет <strong>невозможно</strong>. Обратите внимание, что ссылка для подтверждения становится недействительной через несколько часов. Письмо с подтверждением и новой ссылкой можно запросить на странице профиля вашей команды.</p>

<p class="lead"><strong>Внимание!</strong> Одноразовые и прочие десятиминутные адреса электронной почты не пройдут верификацию. Команда, пытающаяся воспользоваться подобными сервисами, <i>может</i> быть дисквалифицирована!</p>

<h3>Правила</h3>

<p class="lead">К участию приглашаются только студенческие команды. Количество членов команды не ограничено.</p>

<p class="lead">Флаги соответствуют шаблону <code>/SamaraCTF{[\x20-\x7F]+}/</code>, если не указано иное в описании задания.</p>

<p class="lead">Участникам запрещено совершать деструктивные действия против инфраструктуры соревнования (<code>*.samara.volgactf.ru</code>, <code>*.samara.volgactf.org</code> и серверов, на которых развёрнуты сервисные задания), а также мешать другим командам участвовать в игре.</p>

<p class="lead">Запрещён обмен флагами и прочие варианты кооперативной игры нескольких команд.</p>

<p class="lead">В публичном чате Telegram участники должны уважительно относиться друг к другу и воздерживаться от нецензурной лексики.</p>

<p class="lead">Команды, нарушившие правила, будут дисквалифицированы.</p>

<p class="lead">Мы оставляем за собой право вносить изменения в эти правила в любое время.</p>

<h2>Благодарности</h2>
<p class="lead">Задания и сервисы разработаны при поддержке команды <a href="https://ctftime.org/team/273508" target="_blank" rel="noopener">CYBERSQD</a> и <a href="https://ssau.ru/info/struct/op/faculties/iime" target="_blank" rel="noopener">Института информатики и кибернетики Самарского университета</a>. Все права на опубликованные задания и сервисы принадлежат их соответствующим авторам.</p>

<h3>Дополнительная информация</h3>
<p class="lead">Этот сайт использует сторонние сервисы для сбора информации и улучшения вашего взаимодействия с соревнованием.</p>
<p class="lead">Для определения местоположения посетителей на этом сайте используются данные GeoLite2, созданные компанией MaxMind, доступные по адресу <a href="https://www.maxmind.com/en/home" target="_blank" rel="noopener">https://www.maxmind.com/en/home</a>.</p>
<p class="lead">Для отображения эмодзи в новостях и описаниях заданий используется <a href="https://github.com/twitter/twemoji" target="_blank" rel="noopener">Twemoji</a>.</p>
