<meta name="application-name" content="SamaraCTF 2026"/>
<link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="SamaraCTF 2026" />
<link rel="manifest" href="/assets/images/site.webmanifest" />
