<p>
    <% var eventCreated = (createdAt instanceof Date) ? createdAt : new Date(createdAt) %>
    <span><code class="text-dark"><%- moment(eventCreated).utc().format('MM/DD HH:mm:ss.SSS [UTC]') %></code>&nbsp;</span>
    <% var downloadLink = window.location.protocol + '//' + window.location.hostname + '/files/' + taskFile.prefix + '/' + taskFile.filename %>
    <span class="text-success">File <strong><u><a class="text-success" href="<%- downloadLink %>" target="_blank"><%- taskFile.filename %></a></u></strong> has been uploaded to the task <strong><u><a class="text-success" href="/tasks?action=show&taskId=<%- task.id %>" target="_blank"><%- task.title %></a></u></strong></span>
</p>
