<p>
    <% var eventCreated = (createdAt instanceof Date) ? createdAt : new Date(createdAt) %>
    <span><code class="text-dark"><%- moment(eventCreated).utc().format('MM/DD HH:mm:ss.SSS [UTC]') %></code>&nbsp;</span>
    <% var hasCountryName = geoIP.countryName.length > 0 && geoIP.countryName !== '-' %>
    <% var hasCityName = geoIP.cityName.length > 0 && geoIP.cityName !== '-' %>
    <span class="text-primary">
        Supervisor <strong><%- supervisor.username %></strong> has logged in<% if (hasCountryName || hasCityName) { %>&nbsp;from<% if (hasCityName) { %>&nbsp;<%- geoIP.cityName %><% } %><% if (hasCountryName) { %><% if (hasCityName) { %>,<% } %>&nbsp;<%- geoIP.countryName %><% } %><% } %>
    </span>
</p>
