<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- contestTitle %> :: Team :: Reset password</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/{{#cachebusting}}{{#volgactf_qualifier}}{{ css }}{{/volgactf_qualifier}}{{/cachebusting}}">
        {{#partials}}
        {{#head}}
        <!--=include {{{path}}} -->
        {{/head}}
        {{/partials}}

        <% if (google_tag_id) { %>
        <%= templates.analytics({ _: _, google_tag_id: google_tag_id }) %>
        <% } %>
    </head>
    <body>
        <%= templates.navbar({ _: _, active: null, identity: identity, templates: templates, contestTitle: contestTitle, contest: contest, moment: moment }) %>

        <div id="main" class="pb-4">
            <div class="container">
            <% if (identity.role === 'guest') { %>
                <form class="volgactf-form-reset" method="POST" action="/api/team/reset-password" novalidate>
                    <h2>Reset password</h2>
                    <div class="form-group">
                        <label for="reset-password" class="sr-only">Password</label>
                        <input type="password" id="reset-password" name="password" class="form-control" placeholder="Password" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$">
                    </div>
                    <div>
                        <label for="reset-password-confirm" class="sr-only">Confirm password</label>
                        <input type="password" id="reset-password-confirm" class="form-control" placeholder="Confirm password" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$" data-parsley-equalto="#reset-password">
                    </div>
                    <div class="submit-error">
                        <p class="text-danger"></p>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
                </form>
                <div class="volgactf-reset-error">
                    <div class="col-sm-offset-3 col-sm-9">
                        <h2>Restore password</h2>
                    </div>
                    <div class="col-sm-12 alert alert-danger">
                        Invalid reset password URL!
                    </div>
                </div>
                <div class="volgactf-reset-success">
                    <div class="col-sm-offset-3 col-sm-9">
                        <h2>Restore password</h2>
                    </div>
                    <div class="col-sm-12 alert alert-success">
                        Password has been successfully reset! Now you can <a href="/team/signin">sign in</a> to your account.
                    </div>
                </div>
            <% } else { %>
                <header>
                    <h1>Already authenticated</h1>
                </header>
                <section>
                    <p class="lead">You have already authenticated. Please navigate to another page.</p>
                </section>
            <% } %>
            </div>
        </div>

        <footer class="footer">
            {{#partials}}
            {{#footer}}
            <!--=include {{{path}}} -->
            {{/footer}}
            {{^footer}}
            <!--=include ../partials/footer.html -->
            {{/footer}}
            {{/partials}}
        </footer>

        <script>
            window.volgactf = {
                qualifier: {
                    view: 'teamResetPassword',
                    data: {
                        identity: <%= jsesc(identity, { json: true, isScriptContext: true }) %>,
                        contest: <%= jsesc(contest, { json: true, isScriptContext: true }) %>
                    },
                    templates: {
                        streamStatePartial: <%= templates.streamStatePartial.source %>,
                        contestStatePartial: <%= templates.contestStatePartial.source %>
                    }
                }
            }
        </script>
        <script src="/assets/js/{{#cachebusting}}{{#volgactf_qualifier}}{{ js }}{{/volgactf_qualifier}}{{/cachebusting}}"></script>
    </body>
</html>
