<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{#event}}{{ title }}{{/event}} :: Team :: Restore password</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/{{#cachebusting}}{{#themis_quals}}{{ css }}{{/themis_quals}}{{/cachebusting}}">
        {{#partials}}
        {{#head}}
        <!--=include {{{path}}} -->
        {{/head}}
        {{/partials}}
        <script type="text/x-metadata" data-name="event-title" data-value="{{#event}}{{ title }}{{/event}}"></script>

        <% if (google_tag_id) { %>
        <%= templates.analytics({ _: _, google_tag_id: google_tag_id }) %>
        <% } %>
    </head>
    <body>
        <%= templates.navbar({ _: _, active: null, identity: identity }) %>
        <div id="themis-statusbar">
        </div>

        <div id="main" class="pb-4">
            <div class="container">
            <% if (identity.role === 'guest') { %>
                <form class="themis-form-restore" method="POST" action="/api/team/restore" novalidate>
                    <h2>Restore password</h2>
                    <div class="alert alert-warning">
                        <span class="oi oi-warning"></span>&nbsp;If you have recently made a request to reset your account password, you may have to wait some time for an email to be delivered.
                    </div>
                    <div class="form-group">
                        <label for="restore-email" class="sr-only">Email</label>
                        <input type="email" id="restore-email" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="submit-error">
                        <p class="text-danger"></p>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Restore</button>
                </form>
                <div class="themis-alert-restore">
                    <div class="col-sm-offset-3 col-sm-9">
                        <h2>Restore password</h2>
                    </div>
                    <div class="col-sm-12 alert alert-success">
                        You will receive an email with further instructions.
                    </div>
                </div>
            <% } else { %>
                <header>
                    <h1>Already authenticated</h1>
                </header>
                <section>
                    <p class="lead">You have already authenticated. Please navigate to another page.</p>
                </section>
            <% } %>
            </div>
        </div>

        <footer class="footer">
            {{#partials}}
            {{#footer}}
            <!--=include {{{path}}} -->
            {{/footer}}
            {{^footer}}
            <!--=include ../partials/footer.html -->
            {{/footer}}
            {{/partials}}
        </footer>

        <script>
            window.themis = {
                quals: {
                    data: {
                        identity: <%= jsesc(identity, { json: true, isScriptContext: true }) %>
                    },
                    templates: {
                    }
                }
            }
        </script>
        <script src="/assets/js/{{#cachebusting}}{{#themis_quals}}{{ js }}{{/themis_quals}}{{/cachebusting}}"></script>
    </body>
</html>
