<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- contestTitle %> :: Team :: Sign in</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/{{#cachebusting}}{{#volgactf_qualifier}}{{ css }}{{/volgactf_qualifier}}{{/cachebusting}}">
        {{#partials}}
        {{#head}}
        <!--=include {{{path}}} -->
        {{/head}}
        {{/partials}}

        <%= templates.analytics({ _: _, google_tag_id: google_tag_id }) %>
    </head>
    <body>
        <%= templates.navbar({ _: _, active: null, identity: identity, templates: templates, contestTitle: contestTitle, contest: contest, moment: moment }) %>

        <div id="main" class="pb-4">
            <div class="container">
            <% if (identity.role === 'guest') { %>
                <form class="volgactf-form-signin" method="POST" action="/api/team/signin" novalidate>
                    <h1 class="text-center">Sign in</h1>
                    <div class="form-group">
                        <label for="signin-team" class="sr-only">Team</label>
                        <input type="text" id="signin-team" name="team" class="form-control" placeholder="Enter your team name" required autofocus minlength="2" maxlength="100">
                    </div>
                    <div class="form-group">
                        <label for="signin-password" class="sr-only">Password</label>
                        <input type="password" id="signin-password" name="password" class="form-control" placeholder="Password" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <div class="submit-error text-center">
                        <p class="text-danger"></p>
                    </div>
                    <div>
                        <p class="text-center"><a href="/team/restore">Forgot password?</a></p>
                        <p class="text-center" data-feature="ctftime"><a class="text-secondary" href="/team/ctftime/oauth/start">Sign in with CTFtime.org</a></p>
                    </div>
                </form>
            <% } else { %>
                <header>
                    <h1>Already authenticated</h1>
                </header>
                <section>
                    <p class="lead">You have already authenticated. Please navigate to another page.</p>
                </section>
            <% } %>
            </div>
        </div>

        <footer class="footer">
            {{#partials}}
            {{#footer}}
            <!--=include {{{path}}} -->
            {{/footer}}
            {{^footer}}
            <!--=include ../partials/footer.html -->
            {{/footer}}
            {{/partials}}
        </footer>

        <script>
            window.volgactf = {
                qualifier: {
                    view: 'teamSignin',
                    data: {
                        identity: <%= jsesc(identity, { json: true, isScriptContext: true }) %>,
                        contest: <%= jsesc(contest, { json: true, isScriptContext: true }) %>
                    },
                    templates: {
                        streamStatePartial: <%= templates.streamStatePartial.source %>,
                        contestStatePartial: <%= templates.contestStatePartial.source %>
                    }
                }
            }
        </script>
        <script src="/assets/js/{{#cachebusting}}{{#volgactf_qualifier}}{{ js }}{{/volgactf_qualifier}}{{/cachebusting}}"></script>
    </body>
</html>
