html
    position: relative
    min-height: 100%

body
    margin-bottom: 60px

.footer
    position: absolute
    bottom: 0
    width: 100%
    height: 60px
    background-color: #f5f5f5

.footer p
    margin: 20px 0

.footer ul
    margin: 10px 0

.themis-pages [data-page]
    display: none

.themis-partials
    display: none

img.profile-image
    position: relative
    top: -5px
    float: left
    left: -5px
    width: 28px
    height: 28px

.themis-profile
    .logo
        margin-right: 10px
        img
            max-width: 200px
            max-height: 200px

    .info
        margin-left: 10px

ul.themis-teams
    list-style-type: none

    & > li
        margin-bottom: 20px

.themis-form-signup
    max-width: 660px
    padding: 15px
    margin: 0 auto

    h1
        margin-bottom: 10px

    label
        sup
            color: #a94442

.themis-alert-signup
    display: none
    max-width: 660px
    margin: 0 auto

.themis-form-signin
    max-width: 330px
    padding: 15px
    margin: 0 auto

    h1
        margin-bottom: 10px

    .form-control
        position: relative
        height: auto
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 10px
        font-size: 16px
        margin-bottom: 10px

        &:focus
            z-index: 2

.themis-form-login
    max-width: 330px
    padding: 15px
    margin: 0px auto

    h1
        margin-bottom: 10px

    .form-control
        position: relative
        height: auto
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 10px
        font-size: 16px
        margin-bottom: 10px

        &:focus
            z-index: 2

.themis-team-count
    display: none

.themis-post-description
    min-height: 150px

input.parsley-error, select.parsley-error, textarea.parsley-error
    color: #B94A48
    background-color: #F2DEDE
    border: 1px solid #EED3D7

.parsley-errors-list
    margin: 2px 0 3px
    padding: 0
    list-style-type: none
    font-size: 0.9em
    line-height: 0.9em
    opacity: 0

    transition: all .3s ease-in
    -o-transition: all .3s ease-in
    -moz-transition: all .3s ease-in
    -webkit-transition: all .3s ease-in

.parsley-errors-list.filled
    opacity: 1
