<div class="container">
    <div class="pull-left">
        <ul class="list-unstyled text-left">
            <li>&copy;&nbsp;<script>document.write((new Date()).getFullYear())</script>&nbsp;<a href="https://volgactf.ru" target="_blank">VolgaCTF</a></li>
            <li>Proudly made by <a href="https://aspyatkin.com" target="_blank">Alexander Pyatkin</a> and contributors</li>
        </ul>
    </div>
    <div class="pull-right">
        <!-- Extra links -->
        <ul class="list-unstyled text-right">
        </ul>
    </div>
</div>
