<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{#event}}{{ title }}{{/event}} :: Main</title>

        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdn.{{ domain }}/css/bootstrap.css">
        <link rel="stylesheet" href="//cdn.{{ domain }}/css/font-awesome.css">
        <link rel="stylesheet" href="//cdn.{{ domain }}/css/themis.css">

        <script type="text/x-metadata" data-name="domain-api" data-value="//api.{{ domain }}"></script>
        <script type="text/x-metadata" data-name="event-title" data-value="{{#event}}{{ title }}{{/event}}"></script>

        <script src="//cdn.{{ domain }}/js/require.js" data-main='//cdn.{{ domain }}/js/themis.js'></script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#themis-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" data-push-history>{{#event}}{{ title }}{{/event}}</a>
                </div>
                <div id="themis-navbar" class="collapse navbar-collapse">
                </div>
            </div>
        </div>

        <div id="main">
        </div>

        <footer class="footer">
            <div class="container">
                <div class="col-sm-4">
                    <p><i class="fa fa-copyright"></i> 2015, <a href="https://github.com/aspyatkin" target="_blank">Alexander Pyatkin</a></p>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <ul class="list-unstyled text-right">
                        <li><a href="http://volgactf.ru" target="_blank">volgactf.ru</a>&nbsp;<i class="fa fa-info-circle"></i></li>
                        <li><a href="https://twitter.com/VolgaCTF" target="_blank">@VolgaCTF</a>&nbsp;<i class="fa fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </footer>

        <div class="themis-partials">
            <script type="text/x-template" data-name="navbar">
                <ul class="nav navbar-nav">
                    <% if (show.teams) { %>
                    <li class="<% print((active === 'teams') ? 'active' : ''); %>"><a href="/teams" data-push-history>Teams</a></li>
                    <% } %>
                    <% if (show.news) { %>
                    <li class="<% print((active === 'news') ? 'active' : ''); %>"><a href="/news" data-push-history>News</a></li>
                    <% } %>
                    <% if (show.about) { %>
                    <li class="<% print((active === 'about') ? 'active' : ''); %>"><a href="/about" data-push-history>About</a></li>
                    <% } %>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <% if (identity === null || identity.role === 'guest') { %>
                    <li class="<% print((active === 'signin') ? 'active' : ''); %>"><a href="/signin" data-push-history>Sign in</a></li>
                    <% } else { %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <% if (identity.role === 'admin') { %>
                            <span class="label label-success">A</span>
                            <% } else if (identity.role === 'manager') { %>
                            <span class="label label-primary">M</span>
                            <% } else if (identity.role === 'team') { %>
                            <img class="profile-image" src="//api.{{ domain }}/team/logo/<%- identity.id %>">
                            <% } %>
                            <%- identity.name %>&nbsp;<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <% if (identity.role === 'team') { %>
                            <li><a href="/profile/<%- identity.id %>" data-push-history>Edit profile</a></li>
                            <% } %>
                            <li><a href="#" data-action="signout" data-push-history>Sign out</a></li>
                        </ul>
                    </li>
                    <% } %>
                </ul>
            </script>

            <script type="text/x-template" data-name="team-profile-simplified-partial">
                <div class="clearfix themis-profile">
                    <div class="pull-left logo">
                        <img class="img-thumbnail" src="//api.{{ domain }}/team/logo/<%- team.id %>">
                    </div>
                    <div class="pull-left info">
                        <h4 class="text-primary"><a href="/profile/<%- team.id %>" data-push-history><%- team.name %></a></h4>
                        <ul class="list-unstyled">
                            <% if (team.country !== '') { %>
                            <li><strong>Country:</strong> <%- team.country %></li>
                            <% } %>
                            <% if (team.locality !== '') { %>
                            <li><strong>Locality:</strong> <%- team.locality %></li>
                            <% } %>
                            <% if (team.institution !== '') { %>
                            <li><strong>Institution:</strong> <%- team.institution %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </script>

            <script type="text/x-template" data-name="teams-view">
                <div class="container">
                    <header>
                        <h1>Teams</h1>
                    </header>
                    <section>
                    </section>
                </div>
            </script>

            <script type="text/x-template" data-name="post-simplified-partial">
                <div class="themis-post">
                    <header>
                        <h3><%- title %></h3>
                    </header>
                    <section>
                        <%= description %>
                    </section>
                    <footer>
                        <p class="text-muted"><small>Updated on <%- updatedAt %></small></p>
                    </footer>
                </div>
            </script>

            <script type="text/x-template" data-name="remove-post-confirmation">
                You are about to remove the post <mark><%- title %></mark>. Continue?
            </script>

            <script type="text/x-template" data-name="post-partial">
                <div class="themis-post" data-id="<%- id %>">
                    <header>
                        <h3><%- title %></h3>
                    </header>
                    <section>
                        <%= description %>
                    </section>
                    <footer>
                        <p class="text-muted">
                            <small>Updated on <%- updatedAt %></small>
                            <% if (manageable) { %>
                            &nbsp;
                            <button type="button" class="btn btn-success btn-xs" data-action="edit-post" data-toggle="modal" data-target="#edit-post-modal" data-post-id="<%- id %>">
                                <i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" data-action="remove-post" data-toggle="modal" data-target="#remove-post-modal" data-post-id="<%- id %>">
                                <i class="glyphicon glyphicon-remove"></i>&nbsp;Remove
                            </button>
                            <% } %>
                        </p>

                    </footer>
                </div>
            </script>

            <script type="text/x-template" data-name="news-view">
                <div class="container">
                    <header>
                        <h1>News</h1>
                        <% if (identity.role === 'admin' || identity.role === 'manager') { %>
                        <button type="button" class="btn btn-primary btn-xs" data-action="create-post" data-toggle="modal" data-target="#create-post-modal">
                            <i class="glyphicon glyphicon-plus"></i>&nbsp;Create
                        </button>
                        <% } %>
                    </header>
                    <section>
                    </section>
                </div>

                <div class="modal fade" id="create-post-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Create post</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <ul class="nav nav-tabs" id="create-post-tablist">
                                        <li><a href="#create-post-data" role="tab" data-toggle="tab">Data</a></li>
                                        <li><a href="#create-post-preview" role="tab" data-toggle="tab">Preview</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane" id="create-post-data">
                                            <form method="POST" action="//api.{{ domain }}/post/create">
                                                <div class="form-group">
                                                    <label for="create-post-title" class="control-label">Title</label>
                                                    <input type="text" class="form-control" id="create-post-title" required minlength="2" maxlength="250" name="title">
                                                    <label for="create-post-description" class="control-label">Description</label>
                                                    <textarea class="form-control" id="create-post-description" required minlength="1" maxlength="4096" name="description"></textarea>
                                                </div>
                                                <div class="submit-error">
                                                    <p class="text-danger"></p>
                                                </div>
                                            </form>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="create-post-preview">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-action="complete-create-post">Create</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="remove-post-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Remove post</h4>
                            </div>
                            <div class="modal-body">
                                <p class="confirmation"></p>
                                <div class="submit-error">
                                    <p class="text-danger"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" data-action="complete-remove-post">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Edit post</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <ul class="nav nav-tabs" id="edit-post-tablist">
                                        <li><a href="#edit-post-data" role="tab" data-toggle="tab">Data</a></li>
                                        <li><a href="#edit-post-preview" role="tab" data-toggle="tab">Preview</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane" id="edit-post-data">
                                            <form method="POST">
                                                <div class="form-group">
                                                    <label for="edit-post-title" class="control-label">Title</label>
                                                    <input type="text" class="form-control" id="edit-post-title" required minlength="2" maxlength="250" name="title">
                                                    <label for="edit-post-description" class="control-label">Description</label>
                                                    <textarea class="form-control" id="edit-post-description" required minlength="1" maxlength="4096" name="description"></textarea>
                                                </div>
                                                <div class="submit-error">
                                                    <p class="text-danger"></p>
                                                </div>
                                            </form>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="edit-post-preview">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-action="complete-edit-post">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/x-template" data-name="about-view">
                <div class="container">
                    <header>
                        <h1>About</h1>
                    </header>
                    <section>
                        <div class="alert alert-info" role="alert">We are terribly sorry for that awful translation below. We will try our best to improve it soon.</div>
                        <p class="lead">Order of the qualifying rounds</p>
                        <ol>
                            <li>For joining the Competition all the teams must be registered on the official site of the Competition, after that connect to the server in time established on site
                                <br><strong>Attention!</strong><br>
                                <ol>
                                    <li>
                                        You should use only actual e-mail while registration, so Administrators can contact the team if necessary. If the e-mail registration is failed, you should go to the team personal account and request for another e-mail confirmation and/or change e-mail.
                                    </li>
                                    <li>
                                        It&#39;s obligatory to attach team&#39;s logo. It&#39;s allowed to attach square logo of any size >=48px. In the scoreboard all the logos will be forced to minimize to 48x48px. 
                                    </li>
                                </ol>
                            </li>
                            <li>
                                The competition lasts for 48 hours.
                            </li>
                            <li>
                                During the competition the participants should get the highest possible score.
                            </li>
                            <li>
                                The teams will get a set of tasks.
                            </li>
                            <li>
                                The team will get exact number of points shown near the task while solving it.
                            </li>
                            <li>
                                Technical team and Jury of the competition is one and the same authority that performs both the functions of Jury and the functions of Technical team. 
                            </li>
                            <li>
                                Technical team of the competition reserves the right to open any task of their own choice at any point of the competition, informing the teams about it in the News on the site for 5 minutes before the opening.
                            </li>
                            <li>
                                In case of solving the task successfully the team gets a code line (flag) which they should insert in the online-form given on the server of the competition. 
                            </li>
                            <li>
                                Technical team reserves the right to close a task with mistake. In case of closing such a task, the scores on the team&#39;s account are not recounted.
                            </li>
                            <li>
                                Jury is checking the solved tasks during the competition. Technical team makes a table of results of the competition.
                            </li>
                            <li>
                                Technical team develops the tasks of the competition and the system of checking the solved tasks as well and keeps it private before the start of the competition. 
                            </li>
                            <li>
                                During the competition the teams can use any quantity of necessary computers and network equipment. 
                            </li>
                            <li>
                                While solving the tasks it&#39;s forbidden for all the participants of the competition to fulfill the following actions:
                                <ul>
                                    <li>to attack both the Jury&#39;s server and checking system;</li>
                                    <li>to prevent another teams from getting a flag by all means;</li>
                                </ul>
                            </li>
                            <li>
                                During the competition the Jury will post News and hints to the tasks. The only official place for viewing the News is the site of the competition.
                            </li>
                            <li>
                                The Jury reserves the right to make any changes in this technical order before the start of the competition. 
                            </li>
                            <li>
                                The connection with the Technical team is performed via IRC-channel.
                            </li>
                            <li>
                                The team may be disqualified by the decision of the Jury for breaching this technical order or breaking the process of competition in any different way.
                            </li>
                            <li>
                                5 teams of higher education institutions from the Volga Federal District, 3 teams of higher education institutions from other districts of Russian Federation and 2 teams of higher education institutions from the Commonwealth of Independent States will take part in the final of the competition. 
                            </li>
                            <li>
                                The Administrators of the competition reserve the right to increase the number of the participants of the final round (increasing the number of finalists, inviting the guest-teams, inviting the teams in exchange for the teams-finalists leaving the competition). 
                            </li>
                            <li>VolgaCTF 2015 Finals will take place on September 7-11 in Samara.</li>

                        </ol>
                    </section>
                </div>
            </script>

            <script type="text/x-template" data-name="not-found-view">
                <div class="container">
                    <header>
                        <h1>Not Found</h1>
                    </header>
                    <section>
                        <p class="lead">We are really sorry, but there is no <mark><%- urlPath %></mark> page.</p>
                    </section>
                </div>
            </script>

            <script type="text/x-template" data-name="index-view">
                <div class="container">
                    <% if (identity.role === 'guest') { %>
                    <div class="jumbotron">
                        <h1>Hello!</h1>
                        <p>Welcome to {{#event}}{{ title }}{{/event}}!</p>
                        <p>VolgaCTF is an inter-regional inter-university open computer security contest.</p>
                        <p>Interested? Please register for the competition!</p>
                        <p>
                            <a class="btn btn-primary btn-lg" href="/signup" role="button" data-push-history>Sign up</a>
                            <a class="btn btn-success btn-lg" href="/signin" role="button" data-push-history>Sign in</a>
                        </p>
                    </div>
                    <% } else if (identity.role === 'team') { %>
                    <h1>Welcome back!</h1>
                    <% if (!('emailConfirmed' in identity) || !identity.emailConfirmed) { %>
                    <div class="alert alert-warning" role="alert">
                        <p>
                            You need to confirm your email address.
                            Please check your inbox and follow the provided instructions.
                        </p>
                        <p>Note, if you do not confirm your email address, the team account will be deleted in several days.</p>
                    </div>
                    <% } %>
                    <p class="lead">
                        VolgaCTF 2015 Quals will start on May 1 at 19:00 SAMT/15:00 UTC.
                        Now, you can check out the <a href="/news" data-push-history>news</a> or <a href="/profile/<%- identity.id %>" data-push-history>edit your profile</a>.
                    </p>
                    <% } else if (identity.role === 'manager' || identity.role === 'admin') { %>
                    <h1>Control</h1>
                    <% } %>
                </div>
            </script>

            <script type="text/x-template" data-name="signin-view">
                <div class="container">
                    <form class="themis-form-signin" method="POST" action="//api.{{ domain }}/team/signin">
                        <h1>Please sign in</h1>
                        <label for="signin-team" class="sr-only">Team</label>
                        <input type="text" id="signin-team" name="team" class="form-control" placeholder="Team" required autofocus minlength="2" maxlength="100">
                        <label for="signin-password" class="sr-only">Password</label>
                        <input type="password" id="signin-password" name="password" class="form-control" placeholder="Password" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$">
                        <div class="submit-error">
                            <p class="text-danger"></p>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </script>

            <script type="text/x-template" data-name="internal-error">
                <div class="container">
                    <header>
                        <h1>Internal error</h1>
                    </header>
                    <section>
                        <p class="lead">An internal error occured. That&#39;s all we know.</p>
                    </section>
                </div>
            </script>

            <script type="text/x-template" data-name="already-authenticated">
                <div class="container">
                    <header>
                        <h1>Already authenticated</h1>
                    </header>
                    <section>
                        <p class="lead">You have already been authenticated. Please navigate to another page.</p>
                    </section>
                </div>
            </script>

            <script type="text/x-template" data-name="verify-email-view">
                <div class="container">
                    <header>
                        <h1>Email verification</h1>
                    </header>
                    <section>
                        <p data-role="progress"><i class="fa fa-spinner fa-spin"></i>&nbsp;Processing</p>
                        <p data-role="result"></p>
                    </section>
                </div>
            </script>

            <script type="text/x-template" data-name="team-profile-partial">
                <div class="clearfix themis-profile">
                    <div class="pull-left logo">
                        <% if (identity.role === 'team' && identity.id === team.id) { %>
                        <a href="#" data-action="upload-logo">
                            <img class="img-thumbnail" src="//api.{{ domain }}/team/logo/<%- team.id %>">
                        </a>
                        <% } else { %>
                            <img class="img-thumbnail" src="//api.{{ domain }}/team/logo/<%- team.id %>">
                        <% } %>
                    </div>
                    <div class="pull-left info">
                        <h4 class="text-primary"><%- team.name %></h4>
                        <% if ((identity.role === 'team' && identity.id === team.id) || _.contains(['admin', 'manager'], identity.role)) { %>
                        <ul class="list-unstyled">
                            <% if ('email' in team && 'emailConfirmed' in team) { %>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <% if (team.emailConfirmed) { %>
                                <span class="text-success" title="Email verified"><%- team.email %></span>
                                <% } else { %>
                                <span class="text-danger" title="Email not verified"><%- team.email %></span>
                                <% if (identity.role === 'team' && identity.id === team.id) { %>
                                <br>
                                <button type="button" class="btn btn-primary btn-xs" data-action="resend-confirmation">Resend confirmation email</button>
                                <button type="button" class="btn btn-danger btn-xs" data-action="change-email">Change email</button>
                                <% } %>
                                <% } %>
                            </li>
                            <% } %>
                        </ul>
                        <% } %>
                        <ul class="list-unstyled">
                            <% if (team.country !== '' || (identity.role === 'team' && identity.id === team.id)) { %>
                            <li><strong>Country:</strong> <%- team.country %></li>
                            <% } %>
                            <% if (team.locality !== '' || (identity.role === 'team' && identity.id === team.id)) { %>
                            <li><strong>Locality:</strong> <%- team.locality %></li>
                            <% } %>
                            <% if (team.institution !== '' || (identity.role === 'team' && identity.id === team.id)) { %>
                            <li><strong>Institution:</strong> <%- team.institution %></li>
                            <% } %>
                            <% if (identity.role === 'team' && identity.id === team.id) { %>
                            <li>
                                <button type="button" class="btn btn-primary btn-xs" data-action="edit-profile">Edit</button>
                                <button type="button" class="btn btn-primary btn-xs" data-action="change-password">Change password</button>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </script>

            <script type="text/x-template" data-name="profile-view">
                <div class="container">
                    <header>
                        <h1>Team profile</h1>
                    </header>
                    <section>
                    </section>
                </div>

                <div class="modal fade" id="upload-logo-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Upload logo</h4>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="//api.{{ domain }}/team/upload-logo">
                                    <div class="form-group">
                                        <label for="upload-logo-logo" class="control-label">Logo</label>
                                        <input type="file" id="upload-logo-logo" name="logo" class="filestyle" data-buttonText="&nbsp;Choose file" data-iconName="glyphicon-picture" accept="image/jpeg,image/png,image/gif" required>
                                    </div>
                                    <div class="submit-error">
                                        <p class="text-danger"></p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-action="complete-upload-logo">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="resend-confirmation-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Resend confirmation email</h4>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="//api.{{ domain }}/team/resend-confirmation-email">
                                    <div class="form-group">
                                        <label for="resend-confirmation-email" class="control-label">Email</label>
                                        <input type="email" class="form-control" id="resend-confirmation-email" disabled>
                                    </div>
                                    <div class="submit-error">
                                        <p class="text-danger"></p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-action="complete-resend-confirmation">Resend</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="change-email-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Change email</h4>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="//api.{{ domain }}/team/change-email">
                                    <div class="form-group">
                                        <label for="change-email-new" class="control-label">New email</label>
                                        <input type="email" class="form-control" id="change-email-new" name="email" required autofocus>
                                    </div>
                                    <div class="submit-error">
                                        <p class="text-danger"></p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-action="complete-change-email">Change</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Edit profile</h4>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="//api.{{ domain }}/team/edit-profile">
                                    <div class="form-group">
                                        <label for="edit-profile-country" class="control-label">Country</label>
                                        <input type="text" class="form-control" id="edit-profile-country" name="country" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-profile-locality" class="control-label">Locality</label>
                                        <input type="text" class="form-control" id="edit-profile-locality" name="locality">
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-profile-institution" class="control-label">Institution</label>
                                        <input type="text" class="form-control" id="edit-profile-institution" name="institution">
                                    </div>
                                    <div class="submit-error">
                                        <p class="text-danger"></p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-action="complete-edit-profile">Change</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Change password</h4>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="//api.{{ domain }}/team/change-password">
                                    <div class="form-group">
                                        <label for="change-pwd-current" class="control-label">Current password</label>
                                        <input type="password" class="form-control" id="change-pwd-current" name="currentPassword" required autofocus minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$">
                                    </div>
                                    <div class="form-group">
                                        <label for="change-pwd-new" class="control-label">New password</label>
                                        <input type="password" class="form-control" id="change-pwd-new" name="newPassword" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$">
                                    </div>
                                    <div class="form-group">
                                        <label for="change-pwd-confirm-new" class="control-label">Confirm new password</label>
                                        <input type="password" class="form-control" id="change-pwd-confirm-new" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$" data-parsley-equalto="#change-pwd-new">
                                    </div>
                                    <div class="submit-error">
                                        <p class="text-danger"></p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-action="complete-change-password">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/x-template" data-name="login-view">
                <div class="container">
                    <form class="themis-form-login" method="POST" action="//api.{{ domain }}/login">
                        <h1>Please log in</h1>
                        <label for="login-team" class="sr-only">Username</label>
                        <input type="text" id="login-username" name="username" class="form-control" placeholder="Username" required autofocus minlength="2" maxlength="100">
                        <label for="login-password" class="sr-only">Password</label>
                        <input type="password" id="login-password" name="password" class="form-control" placeholder="Password" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$">
                        <div class="submit-error">
                            <p class="text-danger"></p>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                    </form>
                </div>
            </script>

            <script type="text/x-template" data-name="signup-view">
                <div class="container">
                    <form class="form-horizontal themis-form-signup" method="POST" enctype="multipart/form-data" action="//api.{{ domain }}/team/signup">
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <h1>Sign up</h1>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signup-team" class="col-sm-3 control-label">
                                Team&nbsp;<sup>*</sup>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="signup-team" name="team" placeholder="Team" required autofocus minlength="2" maxlength="100">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signup-email" class="col-sm-3 control-label">
                                Email&nbsp;<sup>*</sup>
                            </label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="signup-email" name="email" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signup-password" class="col-sm-3 control-label">
                                Password&nbsp;<sup>*</sup>
                            </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="signup-password" name="password" placeholder="Password" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signup-password-confirm" class="col-sm-3 control-label">
                                Confirm password&nbsp;<sup>*</sup>
                            </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm password" required minlength="6" maxlength="40" pattern="^[A-Za-z0-9\x5b\x5d\x28\x29\x7b\x7d\x7e\x60\x21\x40\x23\x24\x25\x5e\x26\x2a\x2d\x5f\x3d\x2b\x27\x22\x3a\x3b\x7c\x2f\x5c\x2e\x2c\x3f\x3c\x3e]+$" data-parsley-equalto="#signup-password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signup-logo" class="col-sm-3 control-label">
                                Logo&nbsp;<sup>*</sup>
                            </label>
                            <div class="col-sm-9">
                                <input type="file" id="signup-logo" name="logo" class="filestyle" data-buttonText="&nbsp;Choose file" data-iconName="glyphicon-picture" accept="image/jpeg,image/png,image/gif" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signup-country" class="col-sm-3 control-label">
                                Country
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="signup-country" name="country" placeholder="Country">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signup-locality" class="col-sm-3 control-label">
                                Locality
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="signup-locality" name="locality" placeholder="Locality">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signup-institution" class="col-sm-3 control-label">
                                Institution
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="signup-institution" name="institution" placeholder="Institution">
                            </div>
                        </div>

                        <div class="col-sm-offset-3 col-sm-9 submit-error">
                            <p class="text-danger"></p>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
                            </div>
                        </div>
                    </form>

                    <div class="themis-alert-signup">
                        <div class="col-sm-offset-3 col-sm-9">
                            <h1>Sign up</h1>
                        </div>
                        <div class="col-sm-12 alert alert-success">
                            You have successfully signed up for the contest!
                            Now, you can <a href="/signin" data-push-history>sign in</a> to your account.
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </body>
</html>
