<h2>VolgaCTF 2025 Qualifier regulations</h2>
<p class="lead">Greetings everybody and welcome to VolgaCTF 2025 Qualifier!</p>

<p class="lead">To take part in the competition, you should sign up with an email address, your team's name (Latin characters only) and a logo. <strong>Warning!</strong> You will not be able to change your team's name once registered so please <a href="https://ctftime.org/stats/" target="_blank" rel="noopener">be mindful</a> in order not to take an other team's name by accident. The number of team members is not limited.</p>

<p class="lead">Please specify a valid email address so as to get a confirmation email. It will be <strong>impossible</strong> to change the email address after you confirm your participation by clicking on a verification link. Note that the verification link expires in a few hours. A confirmation email with a new verification link may be requested on your team's profile page.</p>

<p class="lead"><strong>Warning!</strong> Disposable email addresses will not be approved of. A team taking a disposable email address may be disqualified.</p>

<p class="lead">Besides, we kindly ask you to specify your country in the registration form - we are collecting this information for statistical purposes.</p>

<p class="lead">Academic teams (i.e. affiliated with educational establishments) are <strong>required</strong> to fill in an institution field in their profile pages.</p>

<p class="lead">The competition starts on Mar 29 at 12:00 UTC and lasts 24 hours. Flags match <code>/VolgaCTF{[\x20-\x7F]+}/</code> unless stated otherwise. Check the <a href="/news" target="_blank" rel="noopener">News</a> page at times &ndash; there might be some important pieces of information about the competition.</p>

<p class="lead">We will answer your questions and make announcements in a <a href="https://t.me/+XBRsdOZQEOU3MmMy" target="_blank" rel="noopener">Telegram public chat</a>.

<p class="lead">Competitors are forbidden to perform destructive actions against competition infrastructure (<code>*.volgactf.ru</code> and <code>*.volgactf.org</code>) and to prevent other teams from playing. A team violating the rules will be disqualified.</p>

<p class="lead">While conversing in the Telegram public chat, you are expected to be respectful to each other and to restrain from using obscene language. Exchanging flags is strictly prohibited. An individual asking for flags or trading their flags will be expelled from the chat.</p>

<p class="lead">We reserve the right to amend these regulations at any time.</p>

<h2>VolgaCTF 2025 Final regulations</h2>
<p class="lead">VolgaCTF 2025 Final (attack-defence) will be held on September 15-19 in Samara, Russia.</p>

<p class="lead">In 2025, we have the following quotas for VolgaCTF 2025 Final:</p>
<ul class="lead">
  <li>10 teams from Russia,</li>
  <li>3 foreign teams.</li>
</ul>

<p class="lead">We are going to invite top teams (according to VolgaCTF 2025 Qualifier scoreboard) on the condition that these teams <i>have specified a higher education institution in their profile</i>. If there appears to be several teams coming from the same educational establishment in the list, we will invite <strong>the one having the highest rank</strong> among those teams.</p>

<p class="lead">The board may change these quotas on technical grounds. Also, we may invite several guest teams by means of additional quota.</p>

<p class="lead">Invitations will be sent to emails specified in teams’ profiles. It is <strong>imperative</strong> that the team eligible for participation in VolgaCTF 2025 Final confirms its participation <strong>by Aug 1</strong>.</p>

<p class="lead">The preliminary list of the teams invited to VolgaCTF 2025 Final will be published on the competition website no later than 2 weeks after VolgaCTF 2025 Qualifier is finished.</p>

<p class="lead">Please note that a team will be excluded from this list:</p>
<ul class="lead">
  <li>if a team denies taking part in the competition, or does not provide timely confirmation of participation,</li>
  <li>if a team is unable to cover its travel and accommodation costs (we <strong>do not</strong> provide financial support).</li>
</ul>

<p class="lead">Should any team be excluded from the preliminary list, the next one of the same quota (according to VolgaCTF 2025 Qualifier scoreboard) will be invited.</p>

<p class="lead">Last but not least, we have a limit to the number of participants per team, that is <strong>up to 5 members</strong> in each team.</p>

<p class="lead">We reserve the right to amend these regulations at any time without further notice.</p>

<h2>Credits</h2>
<p class="lead">Tasks and services are devised in collaboration with the <a href="http://www.ssau.ru/english/education/institutes_faculties/ime/" target="_blank" rel="noopener">Institute of Informatics, Mathematics and Electronics of Samara University</a>. All rights to published tasks and services belong to their respective authors.</p>

<h3>Other information</h3>
<p class="lead">This website makes use of third-party services so as to collect information and improve your experience with the competition, namely Google Analytics.</p>
<p class="lead">This website includes GeoLite2 data created by MaxMind, available from
<a href="http://www.maxmind.com" target="_blank" rel="noopener">http://www.maxmind.com</a>.</p>
<p class="lead">This website renders emojis in news and tasks descriptions with the help of <a href="https://twemoji.twitter.com/content/twemoji-twitter/en.html" target="_blank" rel="noopener">Twemoji</a>.</p>
